<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
    		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    		
<!-- Form Authentication -->
<bean id="usernamePasswordAuthenticationFilter" class="sg.com.fbs.security.web.auth.fbsid.UsernamePasswordHashAuthenticationFilter">
   
   <!-- the user is first authenticated by the AuthenticationManager -->
   <!-- Here will set Authentication object principal and cridential value -->
   <property name="authenticationManager" ref="authenticationManager"/>
   
   <!-- authenticationFailureHandler -->

   <property name="authenticationSuccessHandler">
		<bean class="sg.com.fbs.security.web.auth.fbsid.FbsSavedRequestAwareAuthenticationSuccessHandler">
	     	<property name="defaultTargetUrl" value="/useraccountmanagement/showRegisterUser.action"/>
		</bean>		
   </property>

   <property name="sessionAuthenticationStrategy" ref="concurrentSessionManager"/>
   
   <property name="usernameParameter" value="u"/> <!-- input name in login.jsp submitForm (default is j_username)--> 
   <property name="passwordParameter" value="f"/> <!-- default is j_password -->
   <property name="filterProcessesUrl" value="/authentication/authenticate.action"/>
</bean>

<bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
	<constructor-arg>
		<bean class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
		    <!-- after success log out will go to this url -->
			<property name="defaultTargetUrl" value="/authentication/showLogout.action" />
		</bean>
	</constructor-arg>

	<constructor-arg>
		<list>
			<bean class="sg.com.fbs.security.web.auth.logout.FbsSecurityContextLogoutHandler"/>
		</list>
	</constructor-arg>
	<property name="filterProcessesUrl" value="/authentication/logout.action"/>
</bean>



<bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
   <constructor-arg>
      <list>
        <ref bean="fbsIdAuthenticationProvider"/> 
      </list>
   </constructor-arg>
   <property name="authenticationEventPublisher" ref="defaultAuthEventPublisher"/>
</bean>    

<bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
	<property name="loginFormUrl" value="/authenticate.action" />
</bean>

<!-- <bean id="authenticationProvider" class="org.springframework.security.authentication.AuthenticationProvider"/> -->
<bean id="fbsIdAuthenticationProvider" class="sg.com.fbs.security.web.auth.fbsid.FbsIdAuthenticationProvider"/>

<!-- listener to log last success/failure login time -->
<bean id="authenticationListener" class="sg.com.fbs.security.web.auth.event.listener.AuthenticationEventListener"/>

<bean id="defaultAuthEventPublisher" class="org.springframework.security.authentication.DefaultAuthenticationEventPublisher"/>		

<bean id="securityLogger" class="sg.com.fbs.security.web.auth.fbsid.WebAuthActivityLogger">
    <constructor-arg index="0" value="login"/>
    <constructor-arg index="1" value="failedLogin"/>
    <constructor-arg index="2" value="logout"/>
    <constructor-arg index="3" value="timeout"/>
    <constructor-arg index="4" value="exceededMaxSessions"/>
</bean>    		
</beans>











